.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-about {
  max-width: 288px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.footer-subtitle {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  background-color: transparent;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
    padding: 0 76px;
  }

  .footer-about {
    max-width: 264px;
  }

  .footer-logo,
  .footer-subtitle {
    text-align: left;
  }

  .subscribe-wrap {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding: 0 15px;
  }

  .footer-about {
    margin-right: 96px;
  }

  .subscribe-form {
    margin-left: auto;
  }
}
